html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  font-size: 1.25rem !important;
  line-height: 2.15rem !important;
  color: #545454; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  color: #545454; }

h1 {
  font-size: 2.2rem;
  line-height: 3.3rem; }

h2 {
  font-size: 1.625rem;
  line-height: 2.4375rem; }

h3 {
  font-size: 1.375rem;
  line-height: 2.062rem; }

h4 {
  font-size: 1.1875rem;
  line-height: 1.7812rem; }

h5 {
  font-size: 1rem;
  line-height: 1.5rem; }

h6 {
  font-size: .875rem;
  line-height: 1.3125rem; }

.c-slide-up {
  transform: translateY(150px);
  opacity: 0; }

.c-slide-up-animation {
  animation: slide-up 1s ease forwards; }

@media only screen and (max-width: 768px) {
  .card-deck {
    display: block !important; } }

.c-header {
  width: 70%; }

.c-header-heading {
  align-items: center;
  width: 30%;
  background: linear-gradient(90deg, white 0%, #fefcfd); }
  .c-header-heading h1 {
    position: absolute;
    width: 40%;
    left: 8%;
    z-index: 100;
    opacity: 0;
    transition: font-size .5s, line-height .5s;
    font-size: 4rem;
    line-height: 5rem;
    animation-name: fade-in;
    animation-delay: 2s;
    animation-duration: 3s;
    animation-fill-mode: forwards; }

.c-header-image {
  width: 100%;
  opacity: .7;
  height: auto;
  animation-name: fade-in-opacity;
  animation-duration: 3s; }

@media only screen and (max-width: 1200px) {
  .c-header-heading h1 {
    font-size: 3rem;
    line-height: 3.6rem; } }

@media only screen and (max-width: 992px) {
  .c-header-heading h1 {
    width: 45%;
    font-size: 2.5rem;
    line-height: 3rem; } }

@media only screen and (max-width: 768px) {
  .c-header-heading h1 {
    width: 45%;
    font-size: 1.8rem;
    line-height: 2.3rem; } }

@media only screen and (max-width: 576px) {
  .c-header-heading h1 {
    font-size: 2.5rem;
    line-height: 3rem; } }

.c-nav {
  z-index: 20;
  margin-bottom: -6rem;
  animation-name: fade-in;
  animation-duration: 3s;
  max-width: 1140px; }

.c_nav__show {
  background-color: inherit; }

.navbar-nav a {
  font-size: 1.5rem;
  transition: font-size .5s; }

@media only screen and (max-width: 1200px) {
  .c-nav {
    max-width: 100%; } }

@media only screen and (max-width: 768px) {
  .navbar-nav a {
    font-size: 1.125rem; } }

@media only screen and (max-width: 576px) {
  .c-nav__mobile {
    position: absolute;
    top: 55px;
    width: 100%;
    left: 0px; }
  .c_nav__show {
    background-color: #fefdfe; }
  .navbar-nav {
    background-color: #fefdfe; }
  .navbar-nav a {
    font-size: 1.125rem; } }

@keyframes slide-up {
  from {
    transform: translateY(150px);
    opacity: 0; }
  to {
    transform: translateY(0px);
    opacity: 1; } }

@keyframes fade-in-opacity {
  from {
    opacity: 0; }
  to {
    opacity: .7; } }

@keyframes fade-in {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
